[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/talibenmoshe
[access "refs/for/refs/*"]
	read = group user/talibenmoshe
	push = group user/talibenmoshe
	label-Code-Review = -2..+2 group user/talibenmoshe
	label-Verified = -1..+1 group user/talibenmoshe
	rebase = group user/talibenmoshe
	removeReviewer = group user/talibenmoshe
	submit = group user/talibenmoshe
[access "refs/heads/*"]
	read = group user/talibenmoshe
	create = group user/talibenmoshe
	push = +force group user/talibenmoshe
	pushMerge = group user/talibenmoshe
[access "refs/tags/*"]
	push = group user/talibenmoshe
	push = +force group user/talibenmoshe
